/* Style the entire page background */
body {
  background-color: dodgerblue;
  margin: 0;
}

/* Style the navbar */
.navb {
  background-color: #94bde8;
  height: 80px; /* Increase the height to make it thicker */
  display: flex;
  justify-content: space-between; /* Pushes the content to the edges */
  align-items: center;
  padding: 0 20px; /* Add some padding for spacing on the sides */
}

/* Style the menu links */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 1rem;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Adjust styles for the active link */
.menu a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Style the profile page content */
.card-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

/* Style the card and content */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 60%;
  min-height: 50vh;
  margin: 20px auto 0;
  text-align: left;
  color: black;
}

/* Adjust the profile image */
.profile-image {
  max-width: 200px;
  border-radius: 50%;
  align-self: flex-end;
  display: flex;
  margin: 0 auto; /* Center the image horizontally */
}
