/* Basic styling for the container */
.image-container {
    width: 1000px;
    
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -80px;
    border-radius: 30px;
    height: 500px; /* Maintain aspect ratio */

    
    
  }
  

 
 
  