@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.broker-page-body {
  min-height: 100vh;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

.broker-page-link {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
  border-radius: 0.5rem;
}

.broker-page-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.broker-page-section {
  width: 100%;
  max-width: 500px;
  min-height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}
