@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* add property */
div {
    text-align: center;
  }

  .background {

    background-image: url(fancy_house.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px; 
  }
  
  
  .body {
    
    background-image: url(fancy_house.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }  

  .body2 {
    background-image: url(luxury_house_two.jpeg);
    padding: 5vw 5vw 12vw; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  body {
    background-color: rgba(225,225,225,0);

  }

  .propertiesBackground {
    background-color: white;
  }

  .blackbox {
    height: 100px;
    width: 100px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
      text-shadow: 0 0 5px black;
  }
  

  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: white; 
    margin-bottom: 5px;
    font-size: 16px;
  } 
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

 
  

  button:hover {
    background-color: #45a049;
  }
  

  
    
    /* Media query for responsiveness */
    @media (max-width: 768px) {
      div {
        width: 90%;
      }
    }
    

    /* broker css */

 .broker-page-body {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  background-image: url(luxury_house_two.jpeg);
     background-size: cover;
}



.broker-page-link {
  font-family: "Nunito", sans-serif;
    text-shadow: 0 0 5px black;
  font-size: 30px;
  color: #fff;
  border-radius: 0.5rem;
}

.broker-page-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.broker-page-section {
  width: 100%;
  max-width: 500px;
  min-height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}


    /* broker delete */

    /* BrokerDelete.css */

.broker-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px black;
    margin: auto;
    max-width: 75%;
  }
  
  /* Additional style for the 'No, Cancel' button */
  button.secondary {
    background-color: #ff3333;
  }
  
  button.secondary:hover {
    background-color: #e60000;
  }
  

    /* broker read */

    /* SeeBrokers.css */
  
  .broker-group {
    list-style: none;
    padding: 0;
  }
  
  .broker-item {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  
  .broker-item a,
  .broker-item button {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .broker-item a:hover,
  .broker-item button:hover {
    background-color: #45a049;
  }
  
  .broker-buttons {
    display: flex;
    gap: 10px; /* Adjust as needed for spacing */
  }

    /* UpdateBrokerForm */


    /* header */

    .dropbtn {
        background-color: #04aa6d;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 165px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
      
      .h-wrapper {
        background: transparent; 
      
        
       
      }
      
      .h-container {
        justify-content: space-around;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--secondary);
      }
      
      .h-menu {
        gap: 2rem;
        align-content: center;
        
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        display: inline;
        padding: 1rem;
      }
      

    /* hero */

    .video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    
    .custom-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(90%);
    }
    
    
    @keyframes slide-up {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
    
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    
    .animated-statement {
        position: absolute;
        top: 35%;
        left: 40%;
        text-align: center;
        animation: slide-up 2s ease-out;
    }
    
    
    h2 {
        font-family: "Poppins", sans-serif;
        color: var(--lightBlue);
        text-shadow: 0 0 5px black;
    
    }

    /* User BrokerLogin */

.user-login-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

/*.user-login-body {
    min-height: 100vh;
    background-color: dodgerblue;
} */

 .user-login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
    min-height: 100vh;
    background-image: url(luxury_house_eight.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

}


.user-login-section {
    /*width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);*/

    width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px auto; /* Margin for the user-login-section */
    
}

.user-login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

input[type="password"],
.user-login-button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.user-login-label {
  margin-top: 1rem;
}

/*.user-login-button {
    margin-top: 1rem;
    padding: 0.5rem;
} */


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

    /* Properties */

    .properties-container{
        gap: 2rem;
    }
    

    /* Property */

    /* Basic styling for the container */
    .image-container {
    width: 1000px;
    
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -80px;
    border-radius: 30px;
    height: 500px; /* Maintain aspect ratio */

    
    
    }
  

 
 
  

    /* Property card */

    /* PropertyCard.css */

.r-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }
  
  .r-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .r-card img {
    width: 100%;
    max-height: 200px; /* Adjust the max height as needed */
    object-fit: cover;
    border-radius: 8px;
  }
  
  .secondaryText {
    display: block;
    margin-top: 8px;
  }
  
  .r-price {
    font-weight: bold;
  }
  
  .customTextClass {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    color: #333;
  }
  

    /* Property Offer */

    .property-offer-body{
      background-image: url(inside_house_two.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .property-offer-container {
        background-color: rgba(0,0,10,0.5);
        color: rgb(245,245,245);
        text-shadow: 0px 0px 5px black;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 60%;
        margin: 0px auto;
        
      }
      
      .property-offer-container h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0px;
      }
      
      .property-offer-form {
        display: flex;
        flex-direction: column;
      }
      
      .form-group {
        margin-bottom: 0px;
      }
      
      /* Set text color to black for the budget number */
      .budget-number {
        color: goldenrod;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      input[type="range"] {
        width: 100%;
        padding: 10px;
      }
      
      

    /* Update Property Form */

        

    /* User Profile */

    /* Style the entire page background */

  
  /* Style the navbar */
  .navb {
    background-color: #94bde8;
    height: 80px; /* Increase the height to make it thicker */
    display: flex;
    justify-content: space-between; /* Pushes the content to the edges */
    align-items: center;
    padding: 0 20px; /* Add some padding for spacing on the sides */
    text-shadow: 0 0 4px black;
    
  } 
  
  /* Style the menu links */
  
  
  .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Adjust styles for the active link */
  .menu a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  /* Style the profile page content */
  .card-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px black;
  }
  
  /* Style the card and content */
  .card-body {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    
    padding: 5vw;
    width: 45%;
    min-height: 50vh;
    margin: 20px auto 0;
    text-align: left;
    color: white;
    
  }

  #UserProfile{
    background-image: url(inside_house_one.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 25vw;
  }



  
  
  /* Adjust the profile image */
  .profile-image {
    max-width: 200px;
    border-radius: 50%;
    align-self: flex-end; 
    display: flex;
    margin: 0 auto; /*Center the image horizontally */
  }
  
/* index css */

:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    flex-direction:column;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

.flexStart facility{
  color: black;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}

.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--blue-gradient);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* media queries */
 @media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px),
(min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }

  .orangeText {
    font-size: 1.2rem;
  }
}

.mortgage-calculator-container{
    background-color: snow;
    color: black;
    background-image: url(fancy_house_transparent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 5vw;
  }

.mortgage-calculator-label{
    color: white;
    text-shadow: 0 0 3px black;
}

.mortgage-calculator-form{
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2%;

}

/* Brokercard.css */
.broker-card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(173, 201, 230, 0.357);
  transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
}

.broker-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow on hover */
}

.broker-info {
  margin-bottom: 10px;
}

.broker-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.broker-email,
.broker-role,
.details-label {
  font-size: 14px;
  color: white;
  display: block;
  margin-bottom: 5px;
}

.broker-details,
.broker-properties {
  margin-top: 10px;
}

.image-container {
  overflow: hidden; /* Hide overflowing content to ensure it doesn't affect layout */
  height: 450px; /* Set the desired height for the image container */
  width: 550px;
  margin-top: 1px;
}

.broker-image {
  width: 100%; /* Make the image take up 100% of the width within its container */
  height: auto; /* Allow the image to scale proportionally based on its width */
  display: block; /* Remove any default inline styles that might affect the layout */
  margin: 0 auto; /* Center the image horizontally within its container */
}

.property-price-selected{ 
  font-size: 1.5rem;
  padding-left: 100px;
  font-Weight: bold;
  color: #3498db;
}

/*
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
*/
